TestComponent/TestComponent.Android/obj/
TestComponent/TestComponent.iOS/bin/
TestComponent/TestComponent.iOS/obj/
TestComponent/TestComponent/obj/
TestComponent/TestComponent/bin/
TestComponent/TestComponent.Android/bin/
